/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes arrowbounce {
  0% {
    translate: 0;
  }
  100% {
    translate: 4px;
  }
}

.core {
  fill: transparent;
  transition: fill 0.3s;
  transition-delay: 0.03s;
  transition-timing-function: linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
  transition-timing-function: linear;
}

.cotour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s;
  transition-timing-function: linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition-timing-function: linear;
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition-timing-function: linear;
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-timing-function: linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-delay: 0.06s;
  transition-timing-function: linear;
}

.like-icon.is-liked .heart {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
}

.like-icon.is-liked .sparks {
  animation-name: shine;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
