/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--back-color);
  color: var(--accent-color);
  background-image: var(--horizontal-gradient), var(--vertical-gradient),
    var(--linear-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-variation-settings: "wght" var(--default-f-wght);
}

.header {
  background-color: var(--back-color);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  border: 2px solid var(--accent-color);
  margin: 100px auto;
  padding-block-end: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-main-title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--default-f-wght);
  margin-block-end: 20px;
  text-transform: uppercase;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header-sub-title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--default-f-wght);
  margin-block-end: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline-start: 18px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item:has(:disabled)::before {
  content: "▶";
  position: absolute;
  font-family: var(--accent-font);
  color: var(--accent-color);
  margin-left: -15px;
}

.theme-menu__button {
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  text-transform: uppercase;
  border: none;
  margin-inline-start: 0;
}

.card {
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  background-color: var(--back-color);
  margin: 0 auto 50px;
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-f-wght);
  padding: 5px 24px 5px 8px;
  border: 2px solid var(--accent-color);
}

@media (width <= 375px) {
  .card__title {
    padding: 4px 10px 6px;
  }
}

.card__img-wrapper {
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  position: relative;
}

.card__img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--accent-color);
  background-color: var(--back-color);
}

.card__label {
  position: absolute;
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--label-outline-color),
    0 1px var(--label-outline-color), 1px 0 var(--label-outline-color),
    0 -1px var(--label-outline-color);
  opacity: 0.5;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-outline-color);
    text-stroke: 1px var(--label-outline-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 24px;
  border: 2px solid var(--accent-color);
}

.card__content-description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 26px;
}

.card__content-text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: var(--default-f-wght);
  line-height: 1.16667;
}

.card__controls {
  display: flex;
  flex-wrap: wrap;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  font-family: var(--accent-font);
  color: var(--accent-color);
  background-color: transparent;
  block-size: 38px;
  font-size: 14px;
  line-height: 0.9;
  padding: 10px 35px;
  border: 2px solid var(--accent-color);
}

.button__text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  line-height: 0.9;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
}

.footer__button {
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  background-color: var(--back-color);
  border: 2px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
}

@media (width <= 1000px) {
  .footer__button {
    flex-direction: column;
  }
  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }
}